.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
}

.imageContainer {
    padding: 20px;
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.image {
    max-width: 100%;
    height: auto;
}

.info {
    background-color: var(--primary-1-background-color);
    padding: 2rem;
}

@media only screen and (min-width: 70rem) {
    .container {
        flex-direction: row;

        overflow: hidden;
        position: fixed;
        top: var(--header-height);
        right: 0;
        bottom: 0;
        left: 0;
        /*z-index: 1000;*/
        -webkit-overflow-scrolling: touch;
        outline: 0;
        overflow-y: auto;
    }


    .container::-webkit-scrollbar {
        width: 0.45rem;
    }

    .container::-webkit-scrollbar-track {
        background: var(--primary-1-background-color);
    }

    .container::-webkit-scrollbar-thumb {
        background: var(--accent-color);
    }

    .info {
        flex-shrink: 0;

        width: 35rem;
        height: calc(100vh - var(--header-height));
        position: sticky;
        z-index: 2;
        top: 0;
        right: 0;
        overflow: auto;
    }

    .info::-webkit-scrollbar {
        width: 0.45rem;
    }

    .info::-webkit-scrollbar-track {
        background: var(--primary-1-background-color);
    }

    .info::-webkit-scrollbar-thumb {
        background: var(--primary-2-background-color);
    }
}

.tagsContainer{
    display: flex;
    flex-wrap: wrap;
    padding: 2rem 0;
    gap: 0.5rem
}

.highlight {
    background-color: var(--accent-color);
    border-radius: 6px;
    padding: 3px 6px;
    font-size: 2rem;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

.label {
    color: #BCBCBC;
}


.username {
    font-size: 2rem;
    text-transform: capitalize;
    word-wrap: break-word;
    text-decoration: none;
    color: var(--secondary-background-color);
}

.imageName {
    font-size: 4rem;
    text-transform: capitalize;
    word-wrap: break-word;
    color: var(--secondary-background-color);
}