.button {
    padding: 0.8rem 1.5rem;
    letter-spacing: 1px;
    color: #000;
    background-color: var(--secondary-background-color);
    border: 3px solid var(--accent-color);
    border-radius: 45px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.button:hover {
    background-color: #23c483;
    color: #fff;
}

.button:active {
    transform: translateY(-1px);
}