.container {
    background-size: cover;
    background-color: hsl(0 0% 0% / 0.7);
    background-blend-mode: darken;

    flex-grow: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text {
    font-size: 10rem;
    text-transform: uppercase;
    font-weight: 900;
    text-shadow: 0 1px, 1px 0, 1px 1px;
    text-align: center;
}
