.container {
    background-image: url("https://psv4.userapi.com/c236331/u223100569/docs/d39/ec92507bd173/1283675-free-pepe-wallpaper-1920x1080.jpg?extra=Hy68l_piC7JgG_FsscF3fyMb0NqXBp4fslLixNWiCAiMSdF68pCRLAK0iXngN2zB5o2ufLS9YHsTC1E09nzv6azdvvi6PGewqJZgAyc0Q1qny1DJdELlFZ5MHdqOKIgb_YMdkypfwwZUKmaQuaYWEcZK");
    background-size: cover;
    background-color: hsl(0 0% 0% / 0.7);
    background-blend-mode: darken;

    flex-grow: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text {
    font-size: 10rem;
    text-transform: uppercase;
    font-weight: 900;
    text-shadow: 0 1px, 1px 0, 1px 1px;
    text-align: center;
}
